/*Responsive Breakpoints*/
@media (min-width: 320px) and (max-width: 375px){
	/* navbar */
    header .nav-link{
        padding: 8px 0 !important;
    }
    /* banner */
    #banner .row {
        min-height: 190px;
    }
    /* card */
    .card {
        padding: 50px 0;
    }
    h2 {
        padding: 20px 0;
    }
    /* footer  */
    footer ul, .justify-content-end{
        justify-content: center !important;
    }
    footer ul{
        padding: 5px 0;
    }




}
/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 376px) and (max-width: 575.98px) {
	/* navbar */
    header .nav-link{
        padding: 8px 0 !important;
    }
    /* banner */
    #banner .row {
        min-height: 330px;
    }
    /* card */
    .card {
        padding: 50px 0;
    }
    h2 {
        padding: 20px 0;
    }
      /* footer  */
      footer ul, .justify-content-end{
        justify-content: center !important;
    }
    footer ul{
        padding: 5px 0;
    }



 
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* navbar */
    header .nav-link{
        padding: 8px 0 !important;
    }
    /* banner */
    #banner .row {
        min-height: 330px;
    }
    /* card */
    .card {
        padding: 50px 0;
    }
    h2 {
        padding: 20px 0;
    }
  


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    header .nav-link{
        padding: 8px 0 !important;
    }
   

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

   



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {





}
